const $                 = global.$;
// const UserSchema = new require('../utils/initModel')["users"];
const BaseService       = $.require('/apps/base.service');
const ArticlesModel     = $.require('/apps/cms/articles.model');

class ArticlesService extends BaseService {
    constructor() {
        super(ArticlesModel);
    }
    // 成员方法
    getTitle() {
        // TODO:
    }

    // 静态方法
    /* static async create(obj) {
        return new ArticlesService().create(obj);
    } */
}

module.exports = ArticlesService;
