const $                 = global.$;
// const UserSchema = new require('../utils/initModel')["users"];
const BaseService       = $.require('/apps/base.service');
const UsersModel        = $.require('/apps/core/users.model');

class UsersService extends BaseService {
    constructor() {
        super(UsersModel);
    }
    // 成员方法
    async detail() {
        // TODO:
    }

    // 静态方法
    static detail(userid) {
        let users = new UsersService();
        return users.findOne({
            '_id': userid
        }).then((res) => {
            return res;
        }, (err) => {
            return err;
        });
    }
    static add(obj) {
        let users = new UsersService();
        return users.create({
            'name':       obj.name,
            'phone':      obj.phone,
            'password':   obj.password
        }).then((res) => {
            return res;
        }, (err) => {
            return err;
        });
    }
}

module.exports = UsersService;
