const $                 = global.$;
// const UserSchema = new require('../utils/initModel')["users"];
const BaseService       = $.require('/apps/base.service');
const UsersModel        = $.require('/apps/core/users.model');

class UsersService extends BaseService {
    constructor() {
        super( UsersModel );
    }
    //成员方法
    async getphone() {
        //TODO:
    }

    //静态方法
    static async staticMethod() {
        //TODO:
    };
}

module.exports = UsersService;