const $ = global.$;

class BaseService {
    constructor(Model) {
        this.Model = Model;
        this.doc = null;
    }

    createDoc(obj) {
        return this.doc = new this.Model(obj);
    }

    fail(err) {
        $.error(`BaseService Error: ${err.message}`);
        let matchs, res;
        res = {
            'result': false,
            'code': 0,
            'message': '',
            'description': ''
        };
        // if (err.message.indexOf('duplicate key error') !== -1) {
        if (matchs = err.message.match(/(.*) duplicate key error (.*) index: (.*)_(.*)\{ : \\?"(.*)\\?" \}/)) {
            res.code = -100;
            res.message = '相同的记录已存在：' + matchs[5];
        // } else if (err.message === 'Argument passed in must be a single String of 12 bytes or a string of 24 hex' || err.message.indexOf('Cast to ObjectId failed for value') !== -1) {
        } else if (matchs = err.message.match(/12 bytes or a string of 24 hex|Cast to ObjectId failed for value/)) {
            res.code = -200;
            res.message = '_id值无效';
        // } else if (err.message.indexOf('validation failed') !== -1) {
        } else if (matchs = err.message.match(/(.*) validation failed: (.*): (.*)/)) {
            res.code = -202;
            res.message = matchs[3];
        } else {
            res.code = err.code || -300;
            res.message = err.message;
        }
        res.description = err.message;
        return res;
    }

    success(res, type, params) {
        switch (type) {
        case 'page':
            return {
                'result':   true,
                'count':    params.count,
                'page':     params.page,
                // 'limit':    params.limit,
                'data':     res
            };
        case 'find':
            return {
                'result':   true,
                'data':     res
            };
        case 'create':
            return {
                'result':   true,
                'data':     res
            };
        case 'remove':
            return {
                'result': true,
                'data': {
                    'success': res.n
                }
            };
        case 'update':
            return {
                'result': true,
                'data': {
                    'count':    res.n,
                    'success':  res.nModified
                }
            };
        default:
            return {
                'result':   true,
                'data':     res
            };
        }
    }

    async create(obj) {
        return this.Model.create(this.createDoc(obj)).then((doc) => {
            return this.success(doc, 'create');
        }, (err) => {
            return this.fail(err);
        });
    }

    async save(obj) {
        return this.createDoc(obj).save().then((doc) => {
            return this.success(doc, 'create');
        }, (err) => {
            return this.fail(err);
        });
    }

    async update(condition, newObj) {
        return this.Model.update(condition, newObj).then((doc) => {
            return this.success(doc, 'update');
        }, (err) => {
            return this.fail(err);
        });
    }

    async updateById(id, newObj) {
        return this.Model.update({
            '_id': id
        }, newObj).then((doc) => {
            if (doc.n === 0) {
                return this.fail({ 'message':'没有找到满足条件的记录' });
            } else if (doc.nModified === 0) {
                return this.fail({ 'message':'没有更新项' });
            } else {
                return this.success(doc, 'update');
            }
        }, (err) => {
            return this.fail(err);
        });
    }

    async remove(condition) {
        return this.Model.remove(condition).then((doc) => {
            return this.success(doc, 'remove');
        }, (err) => {
            return this.fail(err);
        });
    }

    async removeById(id) {
        return this.Model.deleteOne({
            '_id': id
        }).then((doc) => {
            if (doc.n === 0) {
                return this.fail({ 'message':'删除失败，没有找到满足条件的记录' });
            } else {
                return this.success(doc, 'remove');
            }
        }, (err) => {
            return this.fail(err);
        });
    }

    async findById(id, constraints) {
        // return new Promise((resolve, reject) => {
        return this.Model.findById(id, constraints).then((doc) => {
            return this.success(doc, 'find');
        }, (err) => {
            return this.fail(err);
        });
        // });
    }

    async findOne(condition, constraints) {
        return this.Model.findOne(condition, constraints).then((doc) => {
            return this.success(doc, 'find');
        }, (err) => {
            return this.fail(err);
        });
    }

    async findOneByOrder(condition, orderColumn, orderType) {
        return this.Model.findOne(condition).sort({
            [orderColumn]: orderType
        }).then((doc) => {
            return this.success(doc, 'find');
        }, (err) => {
            return this.fail(err);
        });
    }

    async findAll(condition, constraints) {
        return this.Model.find(condition, constraints).then((doc) => {
            return this.success(doc, 'find');
        }, (err) => {
            return this.fail(err);
        });
    }

    async count(condition) {
        return this.Model.count(condition).then((doc) => {
            return this.success(doc, 'find');
        }, (err) => {
            return this.fail(err);
        });
    }

    checkPageParams(params) {
        params.limit = parseInt(params.limit, 10) || 10;
        params.page = parseInt(params.page, 10) || 1;
        return {
            'limit':    params.limit,
            'page':     params.page,
            'skip':     params.limit * (params.page - 1)
        };
    }

    async findPage(params, condition, constraints) {
        params = this.checkPageParams(params);
        let countResult = await this.count();
        return this.Model.find(condition, constraints)
            .limit(params.limit)
            .skip(params.skip)
            .sort({ 'created_date':-1 })
            .lean(true)
            .then((doc) => {
                return this.success(doc, 'page', {
                    'count':    countResult.data,
                    'page':     params.page,
                    'limit':    params.limit
                });
            }, (err) => {
                return this.fail(err);
            });
    }
}

module.exports = BaseService;
